<%+header%>
<link rel="stylesheet" href="<%=resource%>/nclink/nclink.css">
<link rel="stylesheet" href="<%=resource%>/nclink/wizard.css">

<div class="container-fluid wizard-container">
    <div class="row text-center">
        <div class="col-lg-6 col-lg-offset-3">
            
            <div id="promo-banner" class="promo-banner">
                <div id="promo-content" class="promo-content"></div>
            </div>

            <div class="cbi-section">
                <div class="wizard-content">
                    <button id="setup-button" class="wizard-button">
                        <span class="button-text">Start Setup</span>
                    </button>
                    <div id="status-text" class="status-text">Click the button to begin setup</div>
                </div>
            </div>

        </div>
    </div>
</div>

<script src="<%=resource%>/nclink/utils.js"></script>
<script src="<%=resource%>/nclink/wizard.js"></script>

<%+footer%> 